h1{
    color:rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color:rgb(235, 239, 241);
    font-family:Arial, Helvetica, sans-serif
}
h2{
    color:rgb(90, 2, 53);
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color:rgb(235, 239, 241);
    font-family:Arial, Helvetica, sans-serif
}

h3{ 
    color:rgb(1, 10, 9);
    font-family: Arial, Helvetica, sans-serif; 
}

h4{ 
    color:rgb(20, 21, 21);
    font-family: Arial, Helvetica, sans-serif; 
}

h5{ 
    color:rgb(2, 2, 2);
    font-family: cursive, sans-serif;
    font-size: 2em;
}

p{
    color:rgb(10, 12, 13);
    font-family:Arial, Helvetica, sans-serif;
}

li{
    color: rgb(4, 1, 9);
    font-family: 'Courier New', Courier, monospace;
}

body {

background-image: url("https://i0.wp.com/www.csscodelab.com/wp-content/uploads/2020/03/css-background-image-linear-gradient.png?fit=1048%2C670&ssl=1");
background-repeat: no-repeat;
background-size: 500% 500vh;
text-align: center;
}

div{
    background-color: #a74e4e6d;
    padding: 10px 20px 30px 40px;
    border: 2px solid black;
    margin: 20px 40px;
}

.portada {
    width: 100; height: 400;
}

.foto {
    width: 300px;
    clip-path: circle();
}

h3{
    color: #000000;
}

h1{
    font-size: 3em;
}

a:hover{
    color: #ebe76c;
    text-decoration: overline;
    font-size: 1.5em;
    border: 2px dotted black;
}

a:visited{
    color: bisque;
}

img:hover{
    border-radius: 50px;
    transform: scale(1.1);
    transition: o.5s;
}

.main-container {
    background-color: #ebe76c;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.links{
    color: #836096;
    text-decoration: none;
}

#u-list{
    list-style-type: none;
}

.red{
    color: red;
}

#red{
    text-decoration: overline;
}