h1{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

p1{
  color: green;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    color: brown;
    font-family: serif;
}

body {

background-image: url("https://html.sammy-codes.com/images/background.jpg")

}

li{
    color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
}

